
{{#each data}}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img class="is-rounded" src="https://api.adorable.io/avatars/128/{{alienName}}.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{limitusername alienName}}</strong> <small> Ajouté le {{createdAt}}</small>
        <br>
        {{limit alienDescription}}
      </p>
      <button onclick="location.href = '/del?id={{@index}}';" class="button is-rounded is-small is-light is-warning" type="button" name="button">Supprimer</button>
      <button class="button is-small is-info is-light" onclick="location.href = '/details?id={{@index}}';">Voir +</button>
    </div>
  </div>
</article>
{{/each}}
